doctype 5
html
  head
    title= title
    meta(name='description', content='Student. Web Developer & Designer.')
    meta(name="author", content="Walter Carvalho")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='utf-8')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='icon', href='/img/favicon.ico')
  body
    header
      h1.hide Walter Carvalho
    .wrap
      .content
        block content
  footer
    .profile_pic
    p Thanks for the visit. Get in touch! 
      a(href='mailto:me@waltercarvalho.com')
        i.ion-ios7-paperplane
    p
      small
        | &copy; 2014. Made with 
        i.ion-ios7-heart &nbsp;
        | by walter.

  if (env == 'development')
    script(src='http://192.168.1.71:35729/livereload.js')
    script(type='text/javascript', src='/scripts/scripts.js')
  else
    script(type='text/javascript', src='/scripts/scripts.min.js')