extends layout

block content
  p
    a(href='/') Home
  article
    small.date #{moment(moment(post.date).format('DDMMYYYY'), "DDMMYYYY").fromNow()}
      | on #{ post.category.split(" ").join(", ") }
    h1.title #{post.title}
    !=post.content