<header>
    <h2 class="u-margin-Tn">Walter Carvalho</h2>
    <p>JavaScript Developer at <a href="//www.gocardless.com" target="_blank">GoCardless</a>.</p>
    <p class="u-margin-Bn">
        <a href="http://www.twitter.com/{{ site.twitter_username }}">🐦 @waltfy</a>&nbsp;
        <a href="http://www.github.com/{{ site.github_username }}">🐙 GitHub</a>&nbsp;
        <a href="https://docs.google.com/document/d/16eCguFQuCkq0dHZSEnIxQAR-o5u7wAFNeoLbCRQx9H4/pub">🙌 About</a>&nbsp;
        <a href="mailto:{{ site.email }}">✉️ Contact</a>&nbsp;
    </p>
</header>
