*, *:before, *:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0 10px;
  font-family: helvetica, arial;
}

.content {
    max-width: 680px;
}

pre {
    overflow-x: scroll;
}

figure {
    margin: 0 10px;
}