<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <section class='content'>
      {{ content }}
      <!-- <h1 class='u-center'>Some Fancy Title, why? Because</h1>
      <small>Something small just to be here.</small>
      <h2>Heading 2, I fancy</h2>
      <h3>Heading 3, that</h3>
      <p><a href='http://google.com'>Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. <i>Aenean vulputate</i> eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, <strong>something</strong> ac, enim.</p>
      <ul>
        <li>My new blog post.</li>
      </ul>
      <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
      <pre>
        console.log('Hello world!');
      </pre>
      <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.</p>
      <blockquote cite="http://www.worldwildlife.org/who/index.html">
        For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
      </blockquote>
      <p>Donec sodales sagittis magna.</p> -->
    </section>
    {% include footer.html %}
    <script type='text/javascript'>
      WebFontConfig={google:{families:["Tinos::latin"]}};(function(){var e=document.createElement("script");e.src=("https:"==document.location.protocol?"https":"http")+"://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js";e.type="text/javascript";e.async="true";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
    </script>
</body>
</html>
